<?php
declare(strict_types=1);

require_once __DIR__ . '/vendor/autoload.php';

use Monolog\Logger;
use Monolog\Handler\StreamHandler;
use Engine\{Request, Response, Router};

/* Unicode support. */
mb_internal_encoding('UTF-8');
mb_http_output('UTF-8');

$applicationName = 'myapp';

/* Logging. */
$stream = new StreamHandler('php://stderr', Logger::DEBUG);
$logger = new Logger($applicationName);
$logger->pushHandler($stream);

/* Session handling. */
$logger->debug("Starting {$applicationName} session");
session_name($applicationName);
session_start();

$logger->debug('Instantiating request object');
$request = new Request($_GET, $_POST, $_COOKIE, $_SESSION, $_SERVER);

$logger->debug('Instantiating response object');
$loader = new \Twig_Loader_Filesystem(__DIR__ . '/templates');
$twig = new \Twig_Environment($loader, ['cache' => __DIR__ . '/tmp']);
$response = new Response($twig, $logger);

$router = new Router($logger);
